# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
checkpoints/
venv/
settings.json
# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Other unnecessary files
*.mp4

*_dataset/
collectedVideos/
test/